body {
    background-color:powderblue

}

h1 {
    font-size: 60px;
    font-family: Impact;
    text-align: center;
    color: white;
 }

.présentation{
     font-style:italic;
     font-family: Impact;
     text-align: center;
     font-size: 30px;
     color: black;
    
}
  
.moi{
    font-family: Impact;
    color: black;
    font-size:35px;


}

.rectangle{
    background-color:dodgerblue;
}

.métier{
    color:white;
    text-align: center;
    background-color:dodgerblue;
    
}

.lien{
    text-decoration: none;
}

.études{
    text-decoration: underline;
    font-weight: bold ;
    font-size: xx-large;
}

.année{
    font-weight: bold;
    font-size: 25px;
}

.école{
    font-style: italic;
    
}

.lieu{
    font-weight: bold;
}